asn1crypto==0.22.0
bugzilla==1.0.0
cffi==1.10.0
cryptography==1.8.1
gspread==0.6.2
hjson==2.0.2
httplib2==0.10.3
idna==2.5
oauth2client==1.5.1
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
rsa==3.4.2
six==1.10.0
